#root {
	/* max-width: 1280px; */
	/* margin: 0 auto; */
	/* padding: 2rem; */
	/* text-align: center; */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	width: 100%;
	padding: 1em 0;
	background-color: black;
	color: white;
	position: fixed;
	top: 0;
}

nav > ul {
	display: flex;
	justify-content: space-around;
}

nav > ul > li {
	list-style: none;
	text-decoration: none;
	font-size: 1.5rem;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

.cartIcon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .cartNumber{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: -1em;
  right: 0;
  background-color: white;
  border-radius: 50%;
  padding: 0.1em;
  
} */

.cartNumber {
	font-size: 12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #2879fe;
	color: white;
	position: absolute;
	right: -12px;
	top: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
}


main{
  margin-top: 5em;
}